@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important;
}
.brand-logo,.titulo{
  font-family: 'Grand Hotel', cursive;
}
.brand-logo {
  font-size: 3rem !important;
  margin-left: 1rem;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.input-field input:focus{
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input:focus + label{
  color : rgb(8, 93, 252) !important
}
.input-field .prefix.active {
  color: #000;
}
.not_account{
  color : rgb(31, 15, 241) !important;
  font-size: 1.2rem;
  font-weight: 600;
}
.not_account:hover{
  text-decoration: underline;
}
.galeria{
  display: flex;
  flex-wrap: wrap;
}
.galeria>figure{
  width: 17rem;
  height: 15rem;
  margin: 10px;
}
figure img{
  width: 100%;
  height: 100%;
}
#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
#loader {
  height : 100vh;
  width : 100vw;
  background-color: rgba(255,255,255,0.7);
  position : absolute;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
}
.anim_loader{
  animation: opacidad 1s infinite ease;
}

@keyframes opacidad  {
  0% {opacity: 0;}
  25% {opacity: 0.5;}
  50% {opacity: 1;}
  75% {opacity: 0.5;}
  100% {opacity: 0;}
}
.prueba{
  animation: opacidad 500ms ;
}
@keyframes opacidad  {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.collection-item{
  width: 100%;
}
.sidenav-trigger i {
  padding: 0 1rem;
}
.sidenav-trigger i:hover{
  background : #ccc
}
.clsname{
  font-weight:  bold;
  font-size: 150%;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.74);
}
.clsperfil_i{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px){
  .galeria{
    justify-content: center;
  }
  .galeria>figure{
    width: 30rem;
    height: 24rem;
    margin: 10px 0px;
  }
}
.fondo{
  height: 110px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.new {
  position: relative;
}
.new::before{
  content: attr(data-len);
  
}