@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important;
}
.brand-logo,.titulo{
  font-family: 'Grand Hotel', cursive;
}
.brand-logo {
  font-size: 3rem !important;
  margin-left: 1rem;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.input-field input:focus{
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input:focus + label{
  color : rgb(8, 93, 252) !important
}
.input-field .prefix.active {
  color: #000;
}
.not_account{
  color : rgb(31, 15, 241) !important;
  font-size: 1.2rem;
  font-weight: 600;
}
.not_account:hover{
  text-decoration: underline;
}
.galeria{
  display: flex;
  flex-wrap: wrap;
}
.galeria>figure{
  width: 17rem;
  height: 15rem;
  margin: 10px;
}
figure img{
  width: 100%;
  height: 100%;
}
#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
#loader {
  height : 100vh;
  width : 100vw;
  background-color: rgba(255,255,255,0.7);
  position : absolute;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
}
.anim_loader{
  animation: opacidad 1s infinite ease;
}

@keyframes opacidad  {
  0% {opacity: 0;}
  25% {opacity: 0.5;}
  50% {opacity: 1;}
  75% {opacity: 0.5;}
  100% {opacity: 0;}
}
.prueba{
  animation: opacidad 500ms ;
}
@keyframes opacidad  {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.collection-item{
  width: 100%;
}
.sidenav-trigger i {
  padding: 0 1rem;
}
.sidenav-trigger i:hover{
  background : #ccc
}
.clsname{
  font-weight:  bold;
  font-size: 150%;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.74);
}
.clsperfil_i{
  display: flex;
  justify-content: space-between;
}
.fondo{
  height: 110px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.custom-file-upload {
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.img_p:hover>.pupd{
  filter : grayscale(100%);
  cursor: pointer;
}
.img_p:hover>.updatefoto{
  display: flex !important;
}
.updatefoto{
  position : absolute;
  height : 100%;
  width : 100%;
  display : none;
  justify-content : center;
  align-items : center;
  left :  0 ;
  z-index: 9999;
  color:  white;
}
.carga_img{
  position : absolute;
  height : 100%;
  width : 90%;
  opacity: 0.4;
  z-index: 99999;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.filtro{
  filter : grayscale(100%);
}
.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  opacity: 0.5;
  border: 1px solid blue;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-image{
  height: 25rem;
}
.card-image>img{
  height: 100% !important; 
  width : 100% !important;
  object-fit : contain
}
.comment {
  max-height: 6rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-img{
  height: 3.5rem;
  width: 10%;
  display: flex;
  justify-content: start;
  margin: 0 0.2rem;
}
.comment-img>img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.comment-box{
  width: 90%;
  max-height: 5rem;
  overflow : hidden;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0.2rem;
  margin: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.08);
  display: inline-block;
}
.comment-autor{
  font-weight: bold;
  cursor: pointer;
  color: #1976D2 !important;
}
.alerta{
  position: fixed;
  z-index: 999;
  background: green;
  width: 100%;
  color: white !important;
  font-size: 1rem;
  padding: 0.2rem 0;
  text-align: center;
  font-family: 'Roboto';
  letter-spacing: 0.1rem;
  animation: color 1s infinite;
}
@keyframes color {
  0%   {background: rgb(1, 99, 1)}
  33%  {background: rgb(2, 99, 2)}
  66%  {background: rgb(1, 112, 1)}
  100% {background: rgb(1, 99, 1)}
}


@media only screen and (max-width: 600px){
  .galeria{
    justify-content: center;
  }
  .galeria>figure{
    width: 30rem;
    height: 24rem;
    margin: 10px 0px;
  }
  .comment-img{
    width: 15%;
    padding: 0 0.2rem;
  }
  .comment-box{
    width: 85%;
    padding: 0.2rem;
  }
}